{% extends 'ledger/base.html' %}
{% load static %}
{% block title %} {{recipe}} {% endblock %}
{% block content %}


<h2> {{recipe.name}} </h2>
<i>by {{recipe.author}} <i>

{% if object.image.all %}
    {% for image in object.image.all %}
        <img src = "{{image.image.url}}" alt="{{image.description}}">
    {% endfor %}
{% endif %}


<h3> Ingredients </h3>


<ul>
    {% for ingredient in recipe.ingredients.all %}
        <li> {{ingredient.ingredient.name}} ({{ingredient.quantity}})</li>
    {% endfor %}
</ul>
<br>
<a href="{{object.get_absolute_url}}/add_image">Add an Image</a>


{% endblock %}
